<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release-pro/v4.0.8/css/solid.css?key=0dc2d6c0-3eb8-11ee-a183-0242ac140003"
    />
    <link rel="stylesheet" href="../../css/index.css" />
    <title>QuizMe</title>
  </head>
  <body>
    <div class="container">
      <header class="wrapper top-wrapper">
        <div class="header-text">
          <h1>QuizMe</h1>
          <span>Be the best!</span>
          <i class="uil uil-redo" data-js="delete-local-storage"></i>
        </div>
      </header>

      <main class="wrapper main-wrapper">
        <section class="question-content" data-js="question-content"></section>
      </main>

      <footer class="wrapper bottom-wrapper">
        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-list-item">
              <i class="uil uil-estate"></i>
            </li>
            <li class="navigation-list-item">
              <i class="uil uil-bookmark"></i>
            </li>
            <li class="navigation-list-item">
              <a href="../AddQuestion/index.html"
                ><i class="uil uil-plus-square"></i
              ></a>
            </li>
            <li class="navigation-list-item"><i class="uil uil-user"></i></li>
          </ul>
        </nav>
      </footer>
    </div>

    <script type="module" src="./main.js"></script>
  </body>
</html>
